@version:3.2

options {
    flush_lines (0);
    time_reopen (10);
    log_fifo_size (1000);
    long_hostnames (off);
    use_dns (no);
    use_fqdn (no);
    create_dirs (no);
    keep_hostname (yes);
};

source s_sys {
    file("/proc/kmsg" program_override("kernel: "));
    unix-stream("/dev/log");
    internal();
};

destination d_cons { file("/dev/console"); };
destination d_mesg { file("/var/log/messages"); };
destination d_auth { file("/var/log/secure"); };
destination d_mail { file("/var/log/maillog" flush_lines(10)); };
destination d_spol { file("/var/log/spooler"); };
destination d_boot { file("/var/log/boot.log"); };
destination d_cron { file("/var/log/cron"); };
destination d_kern { file("/var/log/kern"); };
destination d_mlal { usertty("*"); };
destination remote_syslog { udp("{{ remote_server }}" port({{ udp_port }})); };

filter f_kernel     { facility(kern); };
filter f_default    { level(info..emerg) and
                        not (facility(mail)
                        or facility(authpriv)
                        or facility(cron)); };
filter f_auth       { facility(authpriv); };
filter f_mail       { facility(mail); };
filter f_emergency  { level(emerg); };
filter f_news       { facility(uucp) or
                        (facility(news)
                        and level(crit..emerg)); };
filter f_boot   { facility(local7); };
filter f_cron   { facility(cron); };

log { source(s_sys); filter(f_kernel); destination(d_kern); destination(remote_syslog);};
log { source(s_sys); filter(f_default); destination(d_mesg); destination(remote_syslog);};
log { source(s_sys); filter(f_auth); destination(d_auth); destination(remote_syslog);};
log { source(s_sys); filter(f_mail); destination(d_mail); destination(remote_syslog);};
log { source(s_sys); filter(f_emergency); destination(d_mlal); destination(remote_syslog);};
log { source(s_sys); filter(f_news); destination(d_spol); destination(remote_syslog);};
log { source(s_sys); filter(f_boot); destination(d_boot); destination(remote_syslog);};
log { source(s_sys); filter(f_cron); destination(d_cron); destination(remote_syslog);};


# Source additional configuration files (.conf extension only)
@include "/etc/syslog-ng/conf.d/*.conf"

# vim:ft=syslog-ng:ai:si:ts=4:sw=4:et: